* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://img.freepik.com/free-photo/high-angle-forklift-blue-background_23-2149853122.jpg?ga=GA1.1.2016052138.1744441668&semt=ais_hybrid&w=740') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.form-box {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 480px;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
  z-index: 1;
}


.branding {
  text-align: center;
  margin-bottom: 1.5rem;
}

.branding h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1e40af;
  margin: 0;
}

.branding-subtext {
  font-size: 1rem;
  color: #64748b;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
  text-align: center;
}

.form-subtext {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  text-align: left;
}

.form-group {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f3f4f6;
  transition: 0.2s ease;
}

input:focus {
  background-color: #fff;
  border-color: #1e40af;
  outline: none;
}

.primary-btn {
  width: 100%;
  background-color: #1e3a8a;
  color: white;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.primary-btn:hover {
  background-color: #1d4ed8;
}

.toggle-auth {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #555;
}

.toggle-auth span {
  color: #3b82f6;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-auth span:hover {
  color: #1d4ed8;
  text-decoration: underline;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280;
  font-size: 1.1rem;
}

.toggle-password:hover {
  color: #374151;
}

@media (max-width: 480px) {
  .form-box {
    padding: 1.5rem;
    max-width: 90%;
  }

  .form-title {
    font-size: 1.25rem;
  }

  .form-subtext {
    font-size: 0.8rem;
  }

  .primary-btn {
    font-size: 0.9rem;
    padding: 0.65rem;
  }
}
